cycler==0.10.0
h5py==2.6.0
Keras==1.1.2
matplotlib==1.5.3
numpy==1.11.2
Pillow==3.4.2
pkg-resources==0.0.0
protobuf==3.1.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
scipy==0.18.1
six==1.10.0
tensorflow==0.12.0rc0
Theano==0.8.2
